h1{
color:#333;
margin-bottom:20px;
}

body{
font-family: Arial;
background-color:#f2f2f2;
text-align:center;
}

#chat{
border:1px solid black;
height:300px;
width:400px;
margin:auto;
overflow:auto;
padding:10px;
background:white;
}
#chat{
border-radius:10px;
}


button{
padding:10px;
margin-top:10px;
}
button:hover{
background-color:#ddd;
cursor:pointer;
}


input{
padding:10px;
width:250px;
}
